.footer__column-link {
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.footer__column-link:hover {
    opacity: 0.5;
}
