.header__title {
    display: flex;
    width: 730px;
    height: auto;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    margin: auto 0 auto 64px;
    padding: 0;
    /*position: absolute;
        left: 64px;*/
    align-self: center;
    z-index: 2;
}
